<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="практа_1_на_dataset.Properties.Settings.практа_по_уп1ConnectionString"
            connectionString="Data Source=LOSHPED\SQLEXPRESS;Initial Catalog=&quot;практа по уп1&quot;;Integrated Security=True;Persist Security Info=True"
            providerName="System.Data.SqlClient" />
        <add name="практа_1_на_dataset.Properties.Settings.Prakta1ConnectionString"
            connectionString="Data Source=LOSHPED\SQLEXPRESS;Initial Catalog=Prakta1;Integrated Security=True;Persist Security Info=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>